openai==0.27.8
python-dotenv==1.0.0
langchain==0.0.224
pydantic==1.10.11
pydub==0.25.1
python-telegram-bot==20.3
gTTS==2.3.2
google-cloud-translate==3.11.2
tiktoken==0.4.0
speechkit==2.1.0
grpcio-tools==1.49.0
yid-langchain-extensions==0.4.23
faiss-cpu==1.7.4
llama_index==0.7.1
duckduckgo-search==3.8.3
PyYAML==6.0
