[Unit]
Description=tg_lila_mentor_dev_bot

[Service]
ExecStart=/root/tg_lila_bot/venv/bin/python3 /root/tg_lila_bot/main.py --config_name mentor_dev
Restart=always
User=root
Environment=PROTOCOL_BUFFERS_PYTHON_IMPLEMENTATION=python

[Install]
WantedBy=multi-user.target