[Unit]
Description=tg_lila_bot

[Service]
ExecStart=/bin/bash -c '${REPO_DIR}/venv/bin/python3 ${REPO_DIR}/main.py'
Restart=always
User=root
Environment=PROTOCOL_BUFFERS_PYTHON_IMPLEMENTATION=python

[Install]
WantedBy=multi-user.target